<section class="tpl-pricing">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="bottom30">Pricing</h2>
				<p class="bottom50">Coming soon</p>
			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</div>
</section>
