<section class="tpl-congratulations">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<h2 class="bottom30">Congratulations!</h2>

				<p class="bottom30">We have selected some awesome files for you!<br> You can find your Wunderbox contents in your Dropbox: <a target="_blank" href="https://www.dropbox.com/home/Apps/Wunderbox.in">https://www.dropbox.com/home/Apps/Wunderbox.in</a></p>

				<%= link_to raw("<i class='fa fa-home'></i> Back to start"), root_path, :class => 'btn' %>



			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<%= image_tag "wunderbox.png", class: "wunderbox small" %>
			</div>
		</div>
	</div>
</section>
