<section class="tpl-home">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">

				<hgroup>
					<h1 class="bottom30">Wunderbox</h1>
					<h2 class="bottom50">Get surprised or suprise your <br>friends with Wunderbox!</h2>
				</hgroup>

				<div class="signup">
						<%= link_to raw("<i class='fa fa-dropbox'></i> Sign in with Dropbox"), user_omniauth_authorize_path(:dropbox_oauth2), :class => 'btn signupwithdropbox' %>

					<a class="btn buycoupon" href="">
						<i class="fa fa-gift"></i> Surprise a friend
					</a>
				</div>
			</div>

			<div class="col-sm-6">
				<%= image_tag "wunderbox.png", class: "wunderbox" %>
			</div>

		</div>
	</div>
</section>
