// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tpl-home hgroup {
	margin-top:150px;
}

.border-right {
	border-right:1px solid #ddd;
}



.border-right + div {
	padding-left:50px;
}

.paypal {
	width:auto;
	display:inline-block;
}